h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}

h2 {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #d5a6bd;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

main {
  background-color: #c27ba0;
}

.container {
    display: flex;
}

.sidebar {
    flex: 0 0 30%;
    background-color: #a64d79;
    padding: 20px;
    position: relative;
}

.profile img,
.profile video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.profile video {
    width: 100%;
}

img {
    border: 3px solid black
}

video{
    border: 3px solid black
}

.main-content {
    flex: 1;
    padding: 20px;
}
